
<div class="container-big-card">
    <div class="big-card__img">
        <img src="https://miro.medium.com/v2/resize:fit:1358/1*zhHBXu5DfE9E4XHinNlDjw.png"
        alt=""
        height="250px"
        >
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do angular </a></h1>
    </div>
    <div class="big-card__news">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere perferendis ratione animi voluptas ipsa placeat nam nisi blanditiis sint eius.</p>
    </div>
</div>
