<div class="container-small-card">
  <div class="small-card-img">
    <img src="https://miro.medium.com/v2/resize:fit:1358/1*zhHBXu5DfE9E4XHinNlDjw.png"
    alt=""
    height="125px"
    >
</div>
<div class="infos">
  <div class="small-card__title">
      <h1><a href="#">Saiu a nova versão do angular </a></h1>
  </div>
  <div class="small-card__news">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere perferendis ratione animi voluptas ipsa placeat nam nisi blanditiis sint eius.</p>
  </div>
</div>
</div>



