<div class="container_menubar">
  <div class="menubar-left">
    <ul>
      <div class="logo"><a href="">T</a></div>
      <li><a href="">learn</a></li>
      <li><a href="">blog</a></li>
      <li><a href="">bookmarks</a></li>
      <li><a href="">ui kits</a></li>
      <li><a href="">lain nya</a></li>
    </ul>
  </div>
  <div class="menubar-right">
    <ul>
      <li><a href="https://www.instagram.com/tallisontj/" target="_blank"><img src="assets/icons8-instagram-50.png" alt="instagram"></a></li>
      <li><a href="https://www.linkedin.com/in/tallison-tadeu-de-jesus-95965215a/" target="_blank"><img src="assets/icons8-linkedin-50.png" alt="linkedin"></a></li>
      <li><a href="https://github.com/Tallisonttj" target="_blank"><img src="assets/icons8-github-50.png" alt="github"></a></li>
    </ul>
  </div>
</div>
